# ignore mlflow folder
mlflow

# ignore caches and checkpoints
.ipynb_checkpoints
.pyc
__pycache__

# ignore environment but keep test env
*.env
!*.test.env

# ignore data and models
*.parquet
*.pth
*.pkl
*.csv

# keep test models and data
!*-sample.*
!*.test.pkl

# ignore metadata and notebooks
*.json
*.ipynb

# ignore k8s secrets and config maps
*map.yaml
*secret.yaml